{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}

{% set classes = [
  'clear-both',
] %}


{{ attach_library('acme_football/acme_football') }}
<div{{ attributes.addClass(classes) }}>

  {% if content.show_filters == '1' %}
    <div class="football-filters">
    <select name="division">
      <option label="Filter by Division"></option>
      {% for key, division in football_grid.filters.division %}
        <option label="{{ division }} Division" value="{{ key }}"></option>
      {% endfor %}
    </select>
    <select name="conference">
      <option label="Filter by Conference"></option>
      {% for key, conference in football_grid.filters.conference %}
        <option label="{{ conference }}" value="{{ key }}"></option>
      {% endfor %}
    </select>
    </div>
  {% endif %}

  <div class="football-grid">
    {% for team in football_grid.content %}
      <div class="team {{ team.division_slug }} {{ team.conference_slug }} team-{{ team.id }}">
        <h3>{{ team.display_name }} {{ team.nickname }}</h3>
      </div>
    {% endfor %}
  </div>
</div>
